/* body */
body {
	background-color: #e5e5e5;
	padding: 0px;
	margin: 4px;
	font-family: Arial, sans-serif;
	font-size: 100%; /* 16px/16=1.0em */
}

/* Fix for Safari mobile */
@media screen and (max-device-width: 480px) {
   body {
      -webkit-text-size-adjust: none;
   }
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

h3 {
    font-size: 1.25em; /* 20px/16=1.25em */
}

a {
	font-size: 0.9375em; /* 15px/16px=0.9375em */
}

td#top,
td#middle,
td#bottom {
    font-size: 0.875em; /* 14px/16=0.875em */
}

/* a - classes */
a:link {
	color: gray;
	text-decoration: underline;
}
	a.youtube:link,
	a.twitter:link,
	a.facebook:link,
	a.googleplus:link {
		text-decoration: none;
	}
	a.youtube:link {
		color: #d21724;	
	}
	a.twitter:link {
		color: #00a3ec;
	}	
	a.facebook:link {
		color: #375790;				
	}
	a.googleplus:link {
		color: #de413c;
	}	
	a.playlist:link {
		color: black;
	}
	a.footer:link {
		color: black;
		text-decoration: none;
	}

a:visited {
	color: gray;
	text-decoration: underline;
}
	a.youtube:visited,
	a.twitter:visited,
	a.facebook:visited,
	a.googleplus:visited {
		color: black;
		text-decoration: none;
	}
	a.youtube:visited {
		color: #d21724;	
	}
	a.twitter:visited {
		color: #00a3ec;
	}	
	a.facebook:visited {
		color: #375790;				
	}
	a.googleplus:visited {
		color: #de413c;
	}		
	a.playlist:visited {
		color: black;
	}
	a.footer:visited {
		color: black;
		text-decoration: none;
	}		

a:hover,
a.footer:hover {
	color: black;
	text-decoration: underline;
}
	a.youtube:hover,
	a.twitter:hover,
	a.facebook:hover,
	a.googleplus:hover {
		color: black;
		text-decoration: none;		
	}
	a.playlist:hover {
		color: gray;	
	}
	
a:active,
a.footer:active {
	color: black;
	text-decoration: underline;
}
	a.youtube:active,
	a.twitter:active,
	a.facebook:active,
	a.googleplus:active {
		text-decoration: none;
		
		background-repeat: no-repeat;
		background-position: left;		
		
		padding-top: 5px;
		padding-bottom: 5px;
			
	}
	a.youtube:active {
		color: #d21724;	
	}
	a.twitter:active {
		color: #00a3ec;
	}	
	a.facebook:active {
		color: #375790;				
	}
	a.googleplus:active {
		color: #de413c;
	}		
	a.playlist:active {
		color: gray;	
	}
	

/*
table {
	border: solid 1px red;
}

td {
	border: solid 1px red;
}
*/

/* table - IDs */
table#layout {
	background-color: #e5e5e5;
	margin-left: auto;
	margin-right: auto;
}

/* td - IDs */
td#top {	
	/* background-color: purple; /*#e5e5e5;*/
}

td#middle {
	vertical-align: top;
	
	/* background-color: green /*#e5e5e5;*/
}

td#bottom {
	text-align: center;
}

/* td - classes */
td.viertel {
	width: 25%;
}

/* img - IDs */
img#avatar {
	width: 100px;
	height: 100px;
	
	position: relative;
	
	border: solid 1px #d6d6d6;
	border-radius: 10px;	
}

img#banner {
	vertical-align: bottom;
	max-width: 100%;
	z-index: 1;
}

/* img - classes */
img.video_pic {
	width: 160px;
	height: 90px;	
/*	box-shadow: 1px 1px 2px #424242; */
	border: solid 1px #d6d6d6;
	border-radius: 10px;
}

img.thumb_pic {
/*	box-shadow: 1px 1px 2px #424242; */
	border: solid 1px #d6d6d6;
	border-radius: 10px;
}
		
/* div - IDs */
div#header {
	position: relative;
	background-color: #9c9d9b;
	clear: left;
	padding-left: 13px;
	padding-right: 13px;
	
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-color: #d6d6d6;	
		
	text-align: center;
/*	box-shadow: 1px 1px 2px #a9a9a9; */
	border-radius: 10px 10px 0px 0px;
}

div#links {
	background-color: white;
	clear: left;
	padding: 10px 10px 10px 10px;
	margin: 0px; /* +4px table-default */ 
	
	border-style: solid;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: #d6d6d6;
	
	text-align: center;
/*	box-shadow: 1px 1px 1px #a9a9a9; */
	border-radius: 0px 0px 10px 10px;
}

div#links {
	padding: 0px;
	padding-bottom: 8px;
}

/* div - classes */
div.leftCol {
	/*background-color: red;*/
	width: 25%;
	float: left;
}

div.rightCol {
	/*background-color: blue;*/
	width: 75%;
	float: left;
}

div.content,
div.blog,
div.about {
	background-color: white;
	padding: 10px 20px 10px 20px;
	margin-bottom: 4px; /* =4px table-default */
	border: solid 1px #d6d6d6;
/*	box-shadow: 1px 1px 1px #a9a9a9; */
	border-radius: 10px;
}

div.content {
	text-align: center;
}

div.about {
	margin-right: 4px; /* =4px table-default */
}

@media only screen and (max-width: 850px) {   
	div.leftCol,
	div.rightCol { 
		width: 100%;
		float: none;
	}
	
	div.about {
		margin-right: 0px;	
	}
}

/* ul - classes */
ul.content {
	text-align: left;
}

ul.thumb_grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.thumb_grid li {
	min-width: 165px;
	padding: 10px;
	padding-left: 0px;
	float: left;
}

/* --- w3schools.com - code - start --- */
ul.topnav,
ul.bottomnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

ul.bottomnav {
	background-color: #e5e5e5;
}

ul.topnav li a {
	display: block;
	color: gray;
	text-align: left;
	padding: 13px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-decoration: none;
}

ul.bottomnav li a {
	display: block;
	color: black;
	text-align: left;
	padding: 3px;
	text-decoration: none;
}

ul.topnav li a:hover { color: black; }

/* For mobile phones: */
ul.topnav li.right,
ul.topnav li,
ul.bottomnav li.right,
ul.bottomnav li { float: none; }

[class*="col-"] {
    width: 100%; /* col-12 bzw. col-m-12 */
}

@media only screen and (min-width: 300px) {   
	ul.bottomnav li.right { float: right; }
	ul.bottomnav li { float: left; }
}

@media only screen and (min-width: 600px) { /* iPhone 5S width -40px */
	/* For tablets: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}	
}

@media only screen and (min-width: 1142px) {    /* alter Wert 685px */
	ul.topnav li.right { float: right; }
	ul.topnav li { float: left; }
}

@media only screen and (min-width: 768px) { /* iPhone 6/6S/7 width - costum value from w3schools.com */
   /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

@media only screen and (min-width: 1040px) { /* iPhone 6/6S/7 Plus width -40px */
	/* For HD-desktop: */
	.col-hd-1 {width: 8.33%;}
	.col-hd-2 {width: 16.66%;}
	.col-hd-3 {width: 25%;}
	.col-hd-4 {width: 33.33%;}
	.col-hd-5 {width: 41.66%;}
	.col-hd-6 {width: 50%;}
	.col-hd-7 {width: 58.33%;}
	.col-hd-8 {width: 66.66%;}
	.col-hd-9 {width: 75%;}
	.col-hd-10 {width: 83.33%;}
	.col-hd-11 {width: 91.66%;}
	.col-hd-12 {width: 100%;}	
}

@media only screen and (min-width: 1880px) { /* 2K width - costum value (Full-HD width) -40px */
	/* For UHD-desktop: */
	.col-uhd-1 {width: 8.33%;}
	.col-uhd-2 {width: 16.66%;}
	.col-uhd-3 {width: 25%;}
	.col-uhd-4 {width: 33.33%;}
	.col-uhd-5 {width: 41.66%;}
	.col-uhd-6 {width: 50%;}
	.col-uhd-7 {width: 58.33%;}
	.col-uhd-8 {width: 66.66%;}
	.col-uhd-9 {width: 75%;}
	.col-uhd-10 {width: 83.33%;}
	.col-uhd-11 {width: 91.66%;}
	.col-uhd-12 {width: 100%;}
}

@media only screen and (min-width: 2520px) { /* 4k width - costum value (2K width) -40px */
	/* For UHD-desktop: */
	.col-suhd-1 {width: 8.33%;}
	.col-suhd-2 {width: 16.66%;}
	.col-suhd-3 {width: 25%;}
	.col-suhd-4 {width: 33.33%;}
	.col-suhd-5 {width: 41.66%;}
	.col-suhd-6 {width: 50%;}
	.col-suhd-7 {width: 58.33%;}
	.col-suhd-8 {width: 66.66%;}
	.col-suhd-9 {width: 75%;}
	.col-suhd-10 {width: 83.33%;}
	.col-suhd-11 {width: 91.66%;}
	.col-suhd-12 {width: 100%;}
}

/* --- w3schools.com - code - eof --- */
